---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import HeroSub from "../components/Hero-Sub.astro";
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "../lib/sanity";
import Button from "../components/Button.astro";

const services = await sanityClient.fetch(`
  *[_type == "service"] | order(_createdAt desc) {
  _id,
  id,
  title,
  description
}
`);
---

<Layout title="Services | LB Luxe Haven" description="Services | LB Luxe Haven - Explore our end-to-end construction, engineering, and project management services tailored for residential, commercial, and institutional developments.">
    <Navbar />
    <HeroSub title="Services" description="End-to-end construction and development services delivered with precision, accountability, and deep industry knowledge across planning, execution, and project management.">
    <Button href="/contact">Know more</Button>
    </HeroSub>

    <section class="flex flex-wrap gap-2 items-center justify-center">
        {
            services.map((service: any) => (
                <div key={service.id} class="flex w-120 rounded p-2 flex-col gap-24 border">
                    <span class="ml-auto">{service.id}</span>
                    <div class="flex flex-col gap-1">
                        <h2 class="mona font-bold text-2xl">{service.title}</h2>
                        <p class="grotesk text-gray-900">{service.description}</p>
                    </div>
                </div>
            ))
        }
    </section>
    <Footer />
</Layout>
